In [ ]:
%load_ext sql

In [ ]:
%sql sqlite:///C:/sqlite/chinook.db

UsageError: Line magic function `%sql` not found.