In [ ]:
%load_ext sql

# Connect to CHINOOK database

In [ ]:
%sql sqlite:///chinook.db